<div class="card" id="icomment">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
            </div>
            <div class="col-md-8">
                <p><strong><%= comment.author.username %></strong></p>
                <div class="clearfix"></div>
                <p><%= comment.message %></p>
            </div>
        </div>
        <div class="row justify-content-between">
            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
            <div class="col-md-4">
                <span>
                    <!--Edit form: Press button, opens window with form fields to change, submit through rotues directly first (later bypass with jquery when necessary)-->
                    <form id="comedit" method="POST" action="/cats/<%= cats._id %>/comments/<%= comment._id %>?_method=PUT" style="display: inline;">
                        <input type="hidden" name="comment[name]" value="<%= comment.name %>">
                        <input type="hidden" name="comment[message]" value="<%= comment.message %>">
                        <button id="pencil" style="border:none; background-color: white;"><i class="fa fa-edit"></i></button>
                    </form>
                    <form id="comdel" method="POST" action="/cats/<%= cats._id %>/comments/<%= comment._id %>?_method=DELETE" style="display: inline;">
                        <button id="trash" style="border:none; background-color: white;"><i class="fa fa-trash"></i></button>
                    </form>
                </span>
            </div>
            <% } %>
        
            <div class="col text-right">
                <a class="btn btn-sm text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                <% if(currentUser) { %>
                    <a class="btn btn-sm btn-outline-primary"> <i class="fa fa-reply"></i> Reply</a>
                <% } %>
            </div>
        </div>
        <!-- Replies on comments here-->
    </div>
</div>