<% include ../partials/header %>

<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 flowtext">Welcome to Smokeys blog!</h1>
            <p class="lead flowtext">We overload you with the latest catselfies.</p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/cats/create" role="button">Add new photo</a>
            </p>
        </div>
    </div>
    
    <div class="row text-center p-4">
        <% cats.forEach(function(cat) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="catimage">
                        <img src="<%= cat.image %>">
                        <div class="cat-edit"><button class="btn btn-primary" onclick="location.href='/cats/<%= cat._id %>'">About me(ow)</button></div>
                    </div>
                    <div class="caption">
                        <div class="caption-footer row justify-content-between mb-3">
                            <div class="col-6 text-left">
                                <h4 class="ml-2" style="margin-top: .4rem;"><%= cat.name %></h4>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#" class="btn"><span><i class="fas fa-chevron-up ml-2"></i></span> <%= cat.meta.votes %></a>
                                <a href="#" class="btn"><span><i class="fas fa-heart ml-2"></i></span> <%= cat.meta.favs %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div> 

<% include ../partials/footer %>