<% include ../partials/header %>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 col-sm-12">
            <!-- Cat image + description -->
            <div class="thumbnail">
                <div id="randomcat">
                    <img class="img-responsive" src="<%= cats.image %>">
                    <div class="caption-full">
                        <h4 class="text-center"><a>Meet <%= cats.name %><i class="fas fa-paw ml-1"></i></a></h4>
                        <p><%= cats.description %></p>
                        <p>
                            <em>Submitted by: <%= cats.author.username %></em>
                        </p>
                    </div>
                </div>
            </div>
            <!-- All user interaction buttons-->
            <div class="card card-body bg-light py-2">
                <!-- Delete div --><!--uitklapbaar-->
                <div class="confirmation mt-3 mb-2"> 
                    <div class="card">
                        <div class="card-body">
                            <h4 class="pb-2">Are you sure?<i class="fas fa-cat ml-2"></i><i class="fas fa-heart-broken ml-1"></i></h4>
                            <form method="POST" action="/cats/<%= cats._id %>?_method=DELETE" style="display: inline;">
                                <button id="catdelyes" class="btn btn-light btn-lg">YES</button>
                            </form>
                            <a id="catdelno" class="btn btn-light btn-lg ml-5">NO</a>
                        </div>
                    </div>
                </div>
                <!-- Edit div --><!--uitklapbaar-->
                <div class="cat-form mt-3 mb-2"> 
                    <form method="POST" action="/cats/<%= cats._id %>?_method=PUT">
                        <div class="form-group row"> 
                            <label for="dbname" class="col-md-2 col-form-label">Name:</label>
                            <div class="col-md-5">                     
                                <input id="dbname" class="form-control" type="text" name="cats[name]" value="<%= cats.name %>" required>
                            </div>
                            <div class="col-md-1"></div>
                            <label for="RanCat" class="col-md-2 col-form-label">Cat photo:</label>
                            <div class="col-md-2">
                                <input id="RanCat" type="button" class="form-control btn btn-outline-primary" value="Change it">
                                <input id="dbimage" type="hidden" name="cats[image]" value="<%= cats.image %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dbdesc" class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-7">  
                                <input id="dbdesc" class="form-control" type="text" name="cats[description]" value="<%= cats.description %>">
                            </div>
                            <button type="submit" class="btn btn-primary mr-4" style="position: absolute; right: 0;">Submit</button>
                        </div>
                    </form>
                    <hr>
                </div>  
                <!--User interaction buttons-->
                <div class="row justify-content-center py-2"> 
                    <a class="float-left btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                    <a id="catcomments" class="float-left btn btnPrimaryToggle ml-2"> <i class="fas fa-comments"></i> Comments</a>
                    <% if(currentUser && cats.author.id.equals(currentUser._id)) { %>
                        <a id="catupdate" class="float-right btn btn-outline-primary ml-2">Edit</a>
                        <a id="catdelete" class="float-right btn btn-outline-danger ml-2">Remove</a>
                    <% } %>
                    <a class="float-right btn btn-light ml-2" href="/cats">Go back</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="card commentlist mb-3"> <!--uitklapbaar-->
                <div class="card-header"><h3>Comments</h3></div>
                <div class="card-body"> 
                    <% cats.comments.forEach(function(comment) { %>
                        <!-- Source of Comment Snippet: https://bootsnipp.com/snippets/M5obX-->
                        <%- include('../partials/comment.partial.ejs', {comment: comment}); %>
                        <!-- End of Bootstrap comment snippet-->
                    <% }); %>
                </div>
            </div>
            <!-- Add a comment -->
            <% if(currentUser) { %>
            <div id="addcard" class="card">
                <div class="card-header"><h3>Add a comment</h3></div>
                <div class="card-body">
                    <form id="addcomment" method="POST" action="/cats/<%= cats._id %>/comments">
                        <div class="form-group">
                            <input class="form-control" type="text" name="comments[message]" placeholder="Your message" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-large">Add comment</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/socketio %>
<% include ../partials/footer %>